# Ignorar todo por defecto
*

# Exceptuar este archivo .gitignore
!.gitignore

# Virtualenvs
venv/
.env

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Backups y temporales
*.bak
*.tmp

# IDEs
.vscode/
.idea/

# Excepciones: incluir solo los ficheros y directorios de código fuente
!main.py
!README.md

!bot/
!bot/*.py

!config/
!config/*.py

!core/
!core/*.py

!handlers/
!handlers/*.py

!plugins/
!plugins/*.py

!services/
!services/*.py

!opds/
!opds/*.py

!tests/
!tests/*.py

!utils/
!utils/*.py
